<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.OrdersMapper">
    <resultMap id="map" type="orders">
        <id property="id" column="id"/>
       <!-- <result property="orderNum" column="orderNum"/>
        <result property="orderTime" column="orderTime"/>
        <result property="orderStatus" column="orderStatus"/>
        <result property="peopleCount" column="peopleCount"/>
        <result property="payType" column="payType"/>
        <result property="orderDesc" column="orderDesc"/>-->
        <association property="product" javaType="product" column="productId" select="com.itheima.mapper.ProductMapper.findById" fetchType="lazy"/>
           <!-- <result property="productName" column="productName"/>
            <result property="productPrice" column="productPrice"/>-->
    </resultMap>
    <select id="findAll" parameterType="string" resultMap="map">
        select* from ORDERS
        <where>
            <if test="value!=null and value.length>0">
                and orderNum like '%${value}%'
            </if>
        </where>
    </select>
</mapper>
